<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/style.css">

    <title>vue-hello</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
       
                
        <!-- input -->
        <div class="new-task">
            <input type="text" placeholder="nuova task" v-model="message">
            <button @click="addTask">Aggiungi</button>
        </div>

        <!-- output -->

        <div class="task-container">
            <ul>
                <li v-for="todo in todos" :class="{ 'task-done': todo.done }">
                    {{todo.text}}
                </li>
            </ul>

            <h2>
            
            </h2>
        </div>


    </div>

   

    <script src="js/script.js"></script>

</body>
</html>